parameters:
    level: 0
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - %currentWorkingDirectory%/backend
        - %currentWorkingDirectory%/frontend
        - %currentWorkingDirectory%/src
