<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<title>HashOver - {include title}</title>

		<link type="text/css" rel="stylesheet" href="/themes/default/general.css">
		<link type="text/css" rel="stylesheet" href="/static/admin/admin.css">

		<script type="text/javascript" src="/static/admin/admin.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densityDpi=device-dpi">

		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="EN">

		<link type="image/x-icon" href="/images/favicon.png" rel="shortcut icon">
		<link type="image/x-icon" href="/images/favicon.png" rel="icon">

		<link href="https://www.gnu.org/licenses/agpl" rel="copyright">
	</head>

	<body>
		<div class="general-style">
			<div id="logo">
				<img src="/images/hashover-logo.png" width="64" height="64" alt="HashOver">
				<b>{include title}</b>
				<a id="sidebar-button" href="#"></a>
			</div>

			<div id="sidebar">
				<img src="/images/hashover-logo.png" width="64" height="64" alt="HashOver">

				<div class="navigation">
					<a class="view-link" href="/admin/moderation/">{_'moderation'}</a>
					<a class="view-link" href="/admin/blocklist/">{_'block-ip-addresses'}</a>
					<a class="view-link" href="/admin/url-queries/">{_'filter-url-queries'}</a>
					<a class="view-link" href="/admin/updates/">{_'check-for-updates'}</a>
					<a class="view-link" href="https://docs.barkdull.org/hashover-v2">{_'documentation'}</a>

					<a class="right" href="/admin/login/?logout=true">{_'logout'}</a>
				</div>
			</div>

			<div class="p-spaced">
				{include subTitle}
				<div id="message" class="message {$messageStatus}">{$message|translate}</div>
				<div class="message error">{$error}</div>
			</div>
		</div>

		{block content}{/block}
	</body>
</html>
