<div id="{''|hashoverPrefix}" n:class="hashover, $isMobile ? hashover-mobile : hashover-desktop, $isVectorImage ? hashover-vector : hashover-raster, $isLoggedIn ? hashover-logged-in : hashover-logged-out">
    {embed comments.latte}{/embed}
</div>